/* header and footer  */
.tr {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.tm {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.tb {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

body {
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
}
.bg-blue {
  background-color: #f8f9fa;
}

.nav-link {
  display: block;
  padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
  font-size: var(--bs-nav-link-font-size);
  font-weight: var(--bs-nav-link-font-weight);
  color: rgb(0 0 0);
  text-decoration: none;
  background: 0 0;
  border: 0;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: var(--bs-dropdown-item-padding-y) var(--bs-dropdown-item-padding-x);
  clear: both;
  font-weight: 400;
  color: var(--bs-dropdown-link-color);
  text-align: inherit;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
  border-radius: var(--bs-dropdown-item-border-radius, 0);
  font-size: 13px;
  font-weight: 500;
}

.navbar-brand img {
  width: 140px;
  height: 40px;
}

/* .navbar {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
} */

.dropdown:hover > .dropdown-menu {
  display: block;
}

.dropdown > .dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
  pointer-events: none;
}

.nav-link {
  display: block;
  padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
  font-size: var(--bs-nav-link-font-size);
  font-weight: var(--bs-nav-link-font-weight);
  color: rgb(0 0 0);
  text-decoration: none;
  background: 0 0;
  border: 0;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 500;
  padding: 15px 15px;
}

footer {
  margin-top: 200px;
  background-color: #272c48;
  color: aliceblue;
  padding-bottom: 0px;
}

.logo-area p {
  font-size: 15px;
}
.logo-area img {
  width: 150px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.footer-menu ul li a {
  text-decoration: none;
  list-style: none;
  color: #a1a1a1;
  font-size: 16px;
}
.footer-menu ul li {
  list-style: none;
  padding-bottom: 10px;
}
.footer-menu ul {
  margin-top: 60px;
}

.footer-menu h4 {
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.logo-area p {
  font-size: 24px;
  font-weight: 900;
}

footer {
  margin-top: 200px;
  background-color: #ffffff;
  color: #000000;
}

.footer-area-para {
  font-size: 12px;
  border-top: 1px solid rgb(187, 187, 187);
  text-align: justify;
  padding-top: 40px;
  text-transform: lowercase;
}

.footer-menu h4 {
  font-size: 15px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.footer-menu ul li a {
  text-decoration: none;
  list-style: none;
  color: #a1a1a1;
  font-size: 14px;
}

.footer-all-logo-area img {
  width: 80px;
  margin: 0px 10px;
}

.footer-info-area-dat img {
  width: 50px;
}

.footer-info-area-dat {
  justify-content: center;
  align-items: center;
}
.footer-info-area-dat h2 {
  font-size: 20px;
  padding-left: 10px;
}
